.container {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.1rem 0.4rem 0.1rem rgba(0, 0, 0, 0.12);
  max-width: 40rem;
  margin-top: 2rem;
  width: 100%;
}

.deviceContainer {
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.deviceTitle {
  margin-bottom: 1rem;
}

.deviceInputs {
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;
}

.deviceInputs input {
  max-width: 4rem;
  margin-top: 0.6rem;
}

.input {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
}

.button {
  background-color: blue;
  padding: 1.6rem;
  border-radius: 0.8rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
